<app-navbar></app-navbar>
<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">6 results found</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                        <h4 class="card-title">Andrew,J</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Andrew,J</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                        <app-popupsignin></app-popupsignin>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
                      
                    
                    
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                        <h4 class="card-title">Mani,K</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Mani,K</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                        <app-popupsignin></app-popupsignin>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                        <h4 class="card-title">Daniel,V</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Daniel,V</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    <app-popupsignin></app-popupsignin>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                        <h4 class="card-title">Arun,S</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Arun,S</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                        <app-popupsignin></app-popupsignin>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                        <h4 class="card-title">Daniel,D</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Daniel,D</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                        <app-popupsignin></app-popupsignin>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                        <h4 class="card-title">John,J</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">John,J</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing .</p>

                                        <app-popupsignin></app-popupsignin>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
  </section>
</main>
