<app-navbaruser></app-navbaruser>
<main class="profile-page">
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-warning">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      

    </div>
    <br><br><br><br><br>
    
    <div class="card shadow shadow-lg--hover">
      <div class="card-body">
        
    <div class="media">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
      

      <div class="media-body col-md-10">
          <h3 class="display-3 mb-0">Programming in Java</h3>
          <h4 class="display-4 mb-0"><strong>Mentor:</strong> Arun,K</h4>
        <h5 class="display-5 mb-0"><strong>Duration:</strong> 28-12-2018   &nbsp;<strong> to</strong>  16-02-2019</h5>
      </div>
    </div>
  </div></div>
<br>
  <div class="card shadow shadow-lg--hover">
      <div class="card-body">
        
    <div class="media">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">70%</div>
        </div>
      

      <div class="media-body col-md-10">
          <h3 class="display-3 mb-0">Python</h3>
          <h4 class="display-4 mb-0"><strong>Mentor:</strong> John,J</h4>
        <h5 class="display-5 mb-0"><strong>Duration:</strong> 18-11-2018   &nbsp;<strong> to</strong>  05-02-2019</h5>
      </div>
    </div>
  </div></div>


  
  <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

</section></main>